<div class="container-fluid ml-0 mr-0 pl-0 pr-0" style="height:100%;background-color: #7884ce; color:white;">
    <div class="row" style="padding-top: 60px;padding-bottom:0px; ">
      <div class="offset-1">
        <h1>Ristorante II Fornello</h1><br><br><br>
      </div>
    </div>
    <div class="row">  
      <div class="offset-1 col-5 pl-0" style="padding-bottom:60px;color:lightgray">
          Simple, fresh ingredients, prepared and cooked with love and passion become truly great dishes, from wood-oven baked Neapolitan style pizzas to pastas, entrees!
      </div>
    </div>
  </div>