<div class="header-wrapper">
<header class="container-fluid header-content" >
  <div class="row">
    <div class="offset-1 col-1 pr-0">
      <img [src]=imgUrl style="width: 40px; height:40px">
    </div>
    <div class="pl-0 col-10">
      <app-topnav-item></app-topnav-item>
    </div>
  </div>  
</header>
  </div>
