<div class="container offset-1">
  <ng-container *ngFor="let data of cardData; let isLast = last">
    <div class="row" style="padding-top: 50px;">
      <div *ngIf="data.sideHeadingOrientaion=='left'" class="offset-1 col-3 vertically-center">
        <h3 align=center>{{data.sideHeadingText}}</h3>
      </div>
      <div class="col-7">
        <h2>{{data.title}}</h2>
        <h4 *ngIf="data.subHeadingText">{{data.subHeadingText}}</h4>
        <p>{{data.descriptionText}}</p>
        <p><a (click)="data.additionalText?ToggleMoreText():nil" class="link">More &raquo;</a></p>
        <div *ngIf="data.additionalText && showMoreText">
          <p>{{data.additionalText}}</p>
        </div>
      </div>
      <div  *ngIf="data.sideHeadingOrientaion=='right'"  class="col-3 vertically-center">
        <h3 align=center>{{data.sideHeadingText}}</h3>
      </div>
    </div>
    <hr *ngIf="!isLast">
    <div *ngIf="isLast" style="padding-bottom: 70px;">

    </div>
  </ng-container>
  </div>
  