<div class="container-fluid pl-0" style="padding-bottom: 5px; padding-top: 50px; background-color:lightgrey ">
<div class="row offset-1 col-9 pl-0" >

  <div id="alllinks" class="offset-1 col-1">
      <h5>Links</h5>
      <ul class="nav">
        <ng-container *ngFor="let link of footerlinks;">
                        <li class="nav-item"><a href="{{link.url}}">{{link.linktext}}</a></li>
        </ng-container>
      </ul>
  </div>
  <div class="offset-2 col-3">
        <h5>Our Address</h5>
        <address>
        214, King Street West<br>
        Downtown, Toronto<br>
        ONTARIO<br>
        Tel.: +416 1234 5678<br>
        Fax: +416 8765 4321<br>
        Email: <a href="mailto:ilfornello@food.net">ilfornello@food.net</a>
     </address>
  </div>
  <div class="offset-1 col-3" style="padding: 40px 10px;">
      <ul class="nav">
          <ng-container *ngFor="let smlink of socialmedialinks;">
                          <li class="nav-item">
                            <a href="{{smlink.url}}" target="_blank">
                              <i *ngIf="smlink.image!=undefined" style="height: 40px;width:40px;" class="{{smlink.image}}"></i>
                              </a>
                          </li>
          </ng-container>
        </ul>
  </div>
</div>
  <p style="padding:10px;"></p>
  <p style= "text-align:center!important">© Copyright 2015 Ristorante Il Fornello</p>
</div>
