
  <ul class="nav">
  <ng-container *ngFor="let i of topNavList; let isFirst = first" >
  <li class="nav-item topnav-txtcolor" [class.firstitem]="isFirst" >
    <div  *ngIf="!i.hasSubmenu;else navItemWithSubItems" class="nav-link"> 
      <i *ngIf="i.iconClass!=undefined" class="{{i.iconClass}}" ></i>
     {{i.title}}
    </div>
      <ng-template #navItemWithSubItems>
          <div class="dropdown">
              <button class="btn dropdown-toggle topnav-bgcolor topnav-txtcolor"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{i.title}}
              </button>
              <div class="dropdown-menu topnav-bgcolor" aria-labelledby="dropdownMenuButton">
                <ng-container *ngFor="let subitem of i.submenuItems" >
                  <a class="dropdown-item" >{{subitem.title}}</a>
                </ng-container>
              </div>
              </div>
      </ng-template>
    </li>
  </ng-container>
</ul>

