.li{
    color:#AFAFAF;
    background-color: #2E39A5;
}
.firstitem{
    color:white!important;
    background-color:#171C76;
}
.topnav-bgcolor{
    background-color: #2E39A5;
}
.topnav-txtcolor{
    color:#AFAFAF;
}